<launch>
  <!-- Mission node -->
  <node pkg="qtcopter" type="balldrop" name="balldrop_mission" output="screen" />

  <!-- Mission configuration -->
  <rosparam ns="target">
    <!-- Center of target is black? -->
    center_black: True

    <!-- Number of black rings on target -->
    black_rings: 3

    <!-- Target diameter in meters -->
    <!-- Approximate A4 target size -->
    size: 0.15
    <!-- Actual target size -->
    <!-- size: 1.5 -->

    <!-- Drop height in meters -->
    drop_height: 2.0

    <!-- Coarse find algo: distance, histogram, None otherwise (coarse returns whole picture) -->
    coarse_algorithm: histogram

    <!-- Configuration for distance find algo. -->
    distance:
      lower_bound: [200, 200, 200]
      upper_bound: [255, 255, 255]
      kernel_size: 30

    <!-- Configuration for polarity find algo. -->
    threshold: 100
  </rosparam>
</launch>
