<launch>
  <!-- Mission node -->
  <node pkg="qtcopter" type="balldrop" name="balldrop_mission" output="screen" />

  <!-- Mission configuration -->
  <rosparam ns="target">
    center_black: True
    black_rings: 3
    <!-- target diameter in millimeters -->
    <!-- approximate A4 target size -->
    size: 150.0
    <!-- actual target size -->
    <!-- size: 1500.0 -->
    color:
      lower_bound: [200, 200, 200]
      upper_bound: [255, 255, 255]
    <!-- alg: distance, histogram, None otherwise (coarse returns whole picture) -->
    coarse_algorithm: histogram
  </rosparam>
</launch>
