<launch>
  <!-- Camera mounted on the drone. -->
  <arg name="lense" default="6mm" />
  <arg name="camera_serial" default="15031847" />

  <!-- General configuration -->
  <include file="$(find qtcopter)/launch/config.launch" />

  <!-- Mission node and configuration -->
  <include file="$(find qtcopter)/launch/balldrop_mission_hover.launch">
  </include>

  <!-- Drone camera -->
  <include file="$(find qtcopter)/launch/ptgrey.launch">
    <arg name="lense" value="$(arg lense)" />
    <arg name="camera_serial" value="$(arg camera_serial)" />
  </include>

  <!-- Navigation and quadcopter nodes and configuration -->
  <include file="$(find qtcopter)/launch/navigator.launch">
  </include>
</launch>
