<launch>
  <arg name="camera_pointing_downwards" value="false" />
  <arg name="camera" default="true" />
  <include file="$(find qtcopter_sim)/launch/common/sim.launch">
    <arg name="camera" value="$(arg camera)" />
    <arg name="camera_pointing_downwards" value="$(arg camera_pointing_downwards)" />
  </include>
  <include file="$(find qtcopter)/launch/balloon.launch" />
</launch>
