<launch>
  <arg name="camera_pointing_downwards" value="true" />
  <arg name="camera" default="true" />
  <arg name="usb_camera" default="true" />

  <!-- these are for ptgrey -->
  <arg name="camera_serial" default="0" />
  <arg name="lense" default="0" />

  <include file="$(find qtcopter_sim)/launch/common/sim.launch">
    <arg name="camera" value="$(arg camera)" />
    <arg name="camera_serial" value="$(arg camera_serial)" />
    <arg name="lense" value="$(arg lense)" />
    <arg name="usb_camera" value="$(arg usb_camera)" />
    <arg name="camera_pointing_downwards" value="$(arg camera_pointing_downwards)" />
  </include>
  <include file="$(find qtcopter)/launch/balldrop.launch" />
</launch>
