<launch>
  <arg name="camera" default="true" />
  <node pkg="qtcopter_sim" type="rangepub" name="publish_height" args="/height 0.5 -r 50" if="$(arg camera)" />
  <node pkg="qtcopter_sim" type="rangepub" name="publish_height" args="/height 3.0 -r 50" unless="$(arg camera)" />
  <node pkg="qtcopter_sim" type="imagepub" name="publish_image" args="/image $(find qtcopter_sim)/images/target.jpg -r 50" unless="$(arg camera)" />
  <node pkg="usb_cam" type="usb_cam_node" name="publish_image">
    <remap from="publish_image/image_raw" to="image" />
  </node>
</launch>
